@model IEnumerable<MovieApp.Models.Movie>

@{
    ViewData["Title"] = "AllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Movies</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseCost)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseCost)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                </td>
            </tr>
        }
    </tbody>
</table>
